<div class="hero-unit">
  <h1>GENI Tool Authorization</h1>
  <p>To authorize, enter the passphrase for your GENI certificate below. Once you authorize, the tool will be able to act on your behalf when talking to GENI infrastructure. Only authorize if you trust the tool.</p>
  <h3>Tool URN: <%= id %></h3>
  <div id="error-box"></div>
  <form id="private">
    <input id="password" type="password" placeholder="Passphrase" class="span8">
    <fieldset>
      <button id="sign" class="btn btn-primary">Authorize</button>
    </fieldset>
  </form>
</div>
