<div class="hero-unit">
  <h1>GENI Tool Authorization</h1>
  <p>Your GENI Authorization is not yet setup. Please choose your Slice Authority from the list below to fetch your certificate.</p>
  <form id="sa-form">
    <select id="sa-choice">
      <option>Choose your SA</option>
      <option>Utah ProtoGENI</option>
      <option>GENI Clearinghouse</option>
      <option>ExoGENI SA</option>
      <option>Another SA</option>
      <option>Yet Another SA</option>
      <option>Zombie SA of Doom</option>
    </select>
    <button id="sa-button" class="btn">Get Certificate</button>
  </form>
</div>
