/*
#main-content {
	width: 770px;
	margin: 0;
}
#main-content > .hero-unit {
	width: 770px;
	height: 500px;
	padding: 10px;
	margin: 0;
	font-size: 17px;
}
*/
#paste-input {
    margin-top: 10px;
	width: 100%;
}

#paste-button {
	margin-top: 15px;
}

#sa-choice {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
	width: 80%;
}

.tab-content {
	overflow: visible;
}

/*
.form-horizontal .control-label {
	text-align: center;
}
*/
#saPane, #manualPane {
//	margin-top: -20px;
	padding: 15px 15px 1px;
	background-color: #eee;
}
/*
.form-group .col-offset-2 {
	overflow: auto;
}
*/
/*
#logout {
	margin-top: -45px;
}

#sign {
	margin-top: 20px;
}
*/
.tool-urn {
	margin-top: 40px;
}

#toolGroup, #userGroup, #timeGroup, #password-container {
	margin-bottom: 0;
	padding-bottom: 0;
}

.groups-container {
	margin-bottom: 15px;
}

#userName {
	width: 75%;
}

#logout {
	width: 23%;
}

#password-container {
//	margin-top: 60px;
	padding-top: 0;
}

#authorityName,
#userName,
#toolName {
	cursor: default;
	margin-bottom: 0;
}

#error-box {
    margin-top: 15px;
    margin-bottom: 0;
}

.toggleAdvanced.toggled {
	display: none;
}

#default-choices {
	margin-top: 10px;
	margin-bottom: 40px;
	width: 100%;
	height: 140px;
}
/*
#default-choice-1 {
	height: 140px;
	width: 265px;
	background-color: white;
	cursor: pointer;
	border: 1px solid #555;
}

#default-choice-1 img {
	height: 65px;
	margin: 35px 0 0 15px;
}
*/
#default-choice-2 {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
	background-color: white;
	cursor: pointer;
	border: 1px solid #555;
}

#default-choice-2 img {
}

.orText {
/*
	position: absolute;
	width: 50px;
	top: 150px;
	left: 259px;
*/
	text-align: center;
}
