Source: xml-signer
Section: contrib/misc
Priority: extra
Maintainer: Tom Mitchell <tmitchel@bbn.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/duerig/xml-signer
Vcs-Git: https://github.com/duerig/xml-signer.git
Vcs-Browser: https://github.com/duerig/xml-signer

Package: xml-signer
Architecture: all
Depends: ${misc:Depends}
Description: Produce signed XML documents inside the web browser
 Produce a signed XML documents inside the web browser.  With a
 certificate and private key loaded into the browser storage or
 uploaded by the user an XML document can be signed and returned to
 the original calling web page.
